<div class="row">
  <div class="small-10 large-centered columns">
    <% @comic.each do |list| %>
      <br>
      <%= link_to "Add", favorites_path(list), method: :post %>
      <strong><%= list.name %></strong>
    <% end %>
  </div>
</div>
