<% @comic_list.each do |list| %>
  <div class="row">
    <div class="small-10 large-centered columns">
      <div class="panel">
        <strong><%=list["name"]%></strong>
        <p></p>
        <img src=<%= list["image"] %>>
        <p></p>
        <a href=<%=list["archive"]%>>Visit the full <%=list["name"]%>
          archive here!</a>
      </div>
    </div>
  </div>
<% end %>
