<% @comic_list.each do |list| %>
  <div class="row">
    <div class="small-10 large-centered columns">
      <div class="panel">
        <h3><strong><%=list["name"]%></strong></h3>
        <p></p>
        <img src=<%= list["image"] %>>
        <p></p>
        <a href=<%=list["archive"]%>><%=list["name"]%> archive</a>
      </div>
    </div>
  </div>
<% end %>
