<% @comic_list.each do |list| %>
  <div class="row">
    <div class="small-10 large-centered columns">
      <div class="panel">
        <h5>Panel Title</h5>

        <img src=<%= list %> align=center>

        <p>This is a six columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin.</p>
      </div>
    </div>
  </div>
<% end %>
