<!DOCTYPE html>
<html>
<head>
  <title>Kapow</title>
  <link rel="stylesheet" href="/css/foundation.css">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="contain-to-grid sticky">
    <nav class="top-bar" data-topbar role="navigation">
      <ul class="title-area">
        <li class="name">
          <h1><a href="#"><img src="/img/kapow.png" width=150></h1>
      </ul>
      <div class="contain-to-grid sticky">
        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li class="name">
              <li><a href="#">Log in</a></li>
          </ul>

          <!-- Left Nav Section -->
          <ul class="left">
            <li ><a href="#">Home</a></li>
            <li><a href="#">Settings</a></li>
            <li ><a href="#">Contact</a></li>
          </ul>
        </section>

    </nav>
  </div>

  <div class="row">

  </div>
  <div class="row">
    <div class="large-6 columns"><p>


    </p></div>

  </div>

  <div class="row">

    <div class="small-10 large-centered columns">
      <div class="panel">
        <h5>Panel Title</h5>
        <p>This is a six columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin.</p>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="small-10 large-centered columns">
      <div class="panel">
        <h5>Panel Title</h5>
        <p>This is a six columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin.</p>
      </div>
    </div>

  </div>

  <div class="row">

    <div class="small-10 large-centered columns">
      <div class="panel">
        <h5>Panel Title</h5>
        <p>This is a six columns grid panel with an arbitrary height. Bacon ipsum dolor sit amet salami ham hock biltong ball tip drumstick sirloin pancetta meatball short loin.</p>
      </div>
    </div>

  </div>

  <footer class="row">
    <div class="large-12 columns">
      <hr/>
      <div class="row">
        <div class="large-6 columns">
          <p>© Copyright no one at all. Go to town.</p>
        </div>
        <div class="large-6 columns">
          <ul class="inline-list right">
            <li><a href="#">Section 1</a></li>
            <li><a href="#">Section 2</a></li>
            <li><a href="#">Section 3</a></li>
            <li><a href="#">Section 4</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
<!DOCTYPE html>
<html>
